*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

header{
    width:100%;
    height:90px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 80px;
}

/* Left Side */

.logo{
    display:flex;
    align-items:center;
    gap:12px;
} 

.logo-icon{
    display:flex;
    /*justify-content:center;
    align-items:center;*/
}


/* Middle */

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav a{
    text-decoration:none;
    color:#555;
    font-size:18px;
    transition:.3s;
    
}
nav ul li {
    list-style: none;
}

nav a:hover{
    color:#2952E3;
}

/* Button */

.btn{
    background:#2952E3;
    color:white;
    border:none;
    padding:16px 35px;
    border-radius:10px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
    width: 10%;
}

.btn:hover{
    background:#1d45d0;
}
.hero{
    background-image: url(assets/banner.jpg);
    height:700px;
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.overlay{
    width:700px;
    color:white;
}
.overlay h1{
    font-size: 70px;
    margin-bottom:35px;
    font-weight: 700;
}
.overlay span{
    font-style:italic;
}
.overlay p{
    font-size:18px;
    line-height:1.6;
    margin-bottom:40px;
}
.overlay button {
    padding:16px 35px;
    border:none;
    border-radius:8px;
    background: blue;
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    width:40%;
}
.overlay button:hover{
    background:#1d45d0;
}
/*Speaker Saction*/
.speakers {
   width:90%;
   max-width:1200px;
   margin:auto;
}
.speakers h2{
    text-align:center;
    font-size:50px;
    margin-bottom:50px;
}
.speaker-container{
    display:grid;
    grid-template-columns:
    repeat(2,1fr);
    gap:30px;
}
.card{
    background:white;

    border:1px solid #ddd;

    border-radius:10px;

    overflow:hidden;
}

.card img{
    width:100%;
    height:280px;
    object-fit:cover;
}

.card-content{
    padding:20px;
}

.card-content small{
    color:#2952E3;
    font-weight:bold;
}

.card-content h3{
    margin-top:10px;
    margin-bottom:10px;
}

.card-content p{
    color:#666;
}
/*=======================
     PRICING SECTION
 =======================*/
.pricing {
    width:90%;
    max-width:1200px;
    margin:100px auto;
}
.section-title {
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2 {
    font-size: 52px;
    color: #162233;
    margin-bottom: 15px;
}
.section-title p {
    color:#777;
    font-size: 18px;
}
/*=====================
    CARD CONTAINER 
 ====================*/
 .pricing-container {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
 }
 /*===================
        CARD
  ===================*/
  .price-card{
    background:#fff;
    border:1px solid #e4e4e4;
    border-radius:14px;
    padding:35px;
    transition: 0.35s;
    display: flex;
    flex-direction:column;
  }
  .price-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 18px 40px rgba(0,0,0,12);
  }
  /*===================
        ACTIVE CARD
  ===================*/
  .active{
    background: #122033;
    color:white;
    transform:scale(1.04);
  }
  .active hr{
    border-color:#34465f;
  }
  .active .price-text{
    color:#c7d2e3;
  }
  .active li{
    color:#dde6f5;
  }
  /*===================
        TEXT
   ==================*/
   .plan{
    font-size: 13px;
    font-weight: bold;
    color:#8b8b8b;
    letter-spacing:1px;
   }
   .active .plan{
    color:#6ea8ff;
   }
   .price-card h3{
    font-size:56px;
    margin-top:12px;
   }
   .price-text{
    color:#777;
    margin-bottom:25px;
   }
   hr{
    border:none;
    border-top:1px solid #ececec;
    margin-bottom: 25px;
   }
   ul{
    list-style:none;
    flex:1;
   }
   li{
    margin-bottom:16px;
    color:#444;
    font-size: 15px;
   }
   .price-card li::before{
    content:"•";
    color:#2b61ff;
    margin-right:10px;
   }
   /*===================
        BUTTONS
   ===================*/
   button{
    width:100%;
    padding:14px;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
   }
   .outline-btn{
    background:white;
    color:#2b61ff;
    border:2px solid #2b61ff;
   }
   .outline-btn:hover{
    background:#2b61ff;
    color:white;
   }
   /*Pro*/
   .primary-btn{
    background:#2b61ff;
    color:white;
    border:none;
   }
   .primary-btn:hover{
    background:#1d4fd7;
   }
   /*Team*/
   .dark-btn{
    background:white;
    color:#222;
    border:2px solid #222;
   }
   .dark-btn:hover{
    background:#222;
    color:white;
   }
/*=======================
        DEV JOURNEY
 ======================*/
 .journey{
    width:90%;
    max-width: 1200px;
    margin:100px auto;
    text-align: center;
 }
 .journey-title h2{
    font-size: 48px;
    color:#17233b;
    margin-bottom: 15px;
 }
 .journey-title p{
    width:60%;
    margin:auto;
    color:#666;
    line-height: 1.7;
    margin-bottom:60px;
 }
 .journey-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
 }
 .journey-card{
    background:white;
    padding:35px 25px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
   }
 
 .journey-card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 45px rgba(0,0,0,15);
    transition: .4s;
 }
 .icon{
    font-size:55px;
    margin-bottom:20px;
 }
 .journey-card h3{
    margin-bottom:15px;
    color:#17233b;
 }
 .journey-card p{
    color:#666;
    line-height:1.7;
 }
 .footer{
    background:#111827;
    color:#fff;
    padding:40px 8%;
}

.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:20px;
}

.logo-icon img{
    width:300px;
}

.social-links{
    display:flex;
    gap:18px;
}

.social-links a{
    width:45px;
    height:45px;
    border:1px solid #444;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    text-decoration:none;
    font-size:20px;
    transition:0.3s;
}

.social-links a:hover{
    background:#2563eb;
    border-color:#2563eb;
    transform:translateY(-5px);
}

.footer hr{
    margin:30px 0 20px;
    border:none;
    height:1px;
    background:#333;
}

.footer-bottom{
    text-align:center;
    color:#cbd5e1;
    font-size:15px;
}

